@import "../../../components/css/base.scss";
body{
  overflow: hidden;
}

$mainW : 9.4rem;
.wc-subject-main-ui{
  a{
    color:#888a92
   }
    h2,h3,h4{font-weight: normal;}
    .wc-subject-main-describe{
      width:$mainW;
      margin:15px auto;
      color:#6d788f;
      font-size: 12px;
      line-height: 24px;
      text-align: center;
    } 
    .wc-subject-scroll-C{
      width:100%;
      &>ul{
          width: 100%;
          margin:0 auto;
          li{
            &>section{
              width:$mainW;
              margin: 0 auto;
            }
            padding-top: 30px;
            &:nth-of-type(2){
              border-top:1px solid #ebebeb;
            }
            &:first-of-type{
              padding-top: 0;
              
               padding-bottom: 0;
              &:before{
               display: none;
              }
            }

            padding-bottom: 30px;
            @include pos(r);
            &:before{
              content:'';
              @include pos(a);
              bottom: 0;
              width:100%;
              height: 4px;
              background: #eeeeee;
            }
            &:last-of-type:before{
                display: none;
            }
          }        
      }
    }  

    .wc-subject-field{
      .wc-subject-field-img{
        img,a{
          @include br(5px);
        }
      }
       h4{
        font-size: .5rem;
        height: 1.2rem;
        font-weight: normal;
        line-height: 1.2rem;
        color:#000;
       }
       .wc-subject-field-prop{
        @include transformOrigin(left);
        @include transform(scale(.8));
        color:#888a92;
        span{
          font-size: 12px;
          &:nth-of-type(2),&:nth-of-type(4){
            margin:0 10px;
            display: inline-block;
            @include transform(scale(.5,.8) translate3d(0,-1px,0));
          }
        }
       }
       .wc-subject-field-title{
         font-size: .6rem;
         text-align: center;
         margin: .5rem 0;
          a{
            color:#21262c;
          }
       }
       .wc-subject-field-describe{
         text-indent: 2em;
         color:#888a92;
         line-height: 24px;
         font-size: 12px;

       }
    } 


     .wc-subject-news{
        .wc-subject-news-img{
          img,a{
            @include br(5px);
          }
        }
     
         .wc-subject-news-title{
           font-size: .6rem;
           text-align: center;
           margin: 22px 0 20px;
           a{
            color:#21262c;
          }
         }
         .wc-subject-news-describe{
           text-indent: 2em;
           color:#888a92;
           line-height: 24px;
           font-size: 12px;
           
         }
         .wc-subject-see-all{
           text-align: center;
           a{
              color:#1d94d4;
           }
         }
    } 

    .wc-subject-video{
        .wc-subject-video-img{
          img,a{
            @include br(5px);
          }
        }

        .wc-subject-vr{
          @include pos(a);
          width:1rem;
          right: 1rem;
          z-index: 1;
          top:1rem;
        }
        .wc-subject-video-duration{
           margin-top: .1rem;
           img{vertical-align: middle;@include pos(r);top:-1px;}
        }
        .wc-subject-video-info{
          width:$mainW;
          height: 1.4rem;
          @include transformOrigin(left);
          @include transform(scale(.8));
          margin: 15px auto 0;
          @include displayBox(horizontal);
          -webkit-box-pack:start;
          -webkit-box-align:center;
          aside{
            &:first-of-type{
              width:.88rem;
              color:#b2d2e3;
              div{
                font-size:12px;
                 height: 1rem;
                 width:.93rem;
                section{
                    height: 1rem;
                     width:.93rem;
                   img{
                    @include transform(scale(1.2));
                   }

                }
              }
            }
            &:last-of-type{
              width:7.2rem;
              padding-left: .3rem;
              margin-left: .3rem;
              height: 1.4rem;
              @include pos(r);
              &:before{
                content:'';
                width:1px;
                height: 100%;
                background: #ddd;
                @include pos(a);
                left: 0;
              }
            }
            h2{
              width:100%;
              font-size: .45rem;
              overflow: hidden;
              text-overflow:ellipsis; overflow:hidden; white-space:nowrap; 
            }

            .wc-subject-video-duration{
              span{
                  top:.2rem;
                  @include pos(r);
                &:first-of-type{
                  color:#888a92;
                }
                &:nth-of-type(2){
                  margin: 0 .35rem;
                  
                  height: 10px;
                  width:1px;
                  background: #cdd6e7;
                  display: inline-block;
                }
                &:last-of-type{
                  color:#cdd6e7
                }
                img{width:.5rem;margin-right: .3rem;}
              }
            }
          }
        }
         .wc-subject-video-title{
           font-size: .6rem;
           text-align: center;
           margin: .3rem 0;
          a{
            color:#21262c;
          }
         }
         .wc-subject-video-describe{
           text-indent: 2em;
           margin: 15px auto 0;
           color:#888a92;
           line-height: 24px;
           font-size: 12px;
         }
         .wc-subject-see-all{
           text-align: center;
           a{
              color:#1d94d4;
           }
         }
    } 


}