/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
body {
  overflow: hidden; }

.wc-subject-main-ui a {
  color: #888a92; }
.wc-subject-main-ui h2, .wc-subject-main-ui h3, .wc-subject-main-ui h4 {
  font-weight: normal; }
.wc-subject-main-ui .wc-subject-main-describe {
  width: 9.4rem;
  margin: 15px auto;
  color: #6d788f;
  font-size: 12px;
  line-height: 24px;
  text-align: center; }
.wc-subject-main-ui .wc-subject-scroll-C {
  width: 100%; }
  .wc-subject-main-ui .wc-subject-scroll-C > ul {
    width: 100%;
    margin: 0 auto; }
    .wc-subject-main-ui .wc-subject-scroll-C > ul li {
      padding-top: 30px;
      padding-bottom: 30px;
      position: relative; }
      .wc-subject-main-ui .wc-subject-scroll-C > ul li > section {
        width: 9.4rem;
        margin: 0 auto; }
      .wc-subject-main-ui .wc-subject-scroll-C > ul li:nth-of-type(2) {
        border-top: 1px solid #ebebeb; }
      .wc-subject-main-ui .wc-subject-scroll-C > ul li:first-of-type {
        padding-top: 0;
        padding-bottom: 0; }
        .wc-subject-main-ui .wc-subject-scroll-C > ul li:first-of-type:before {
          display: none; }
      .wc-subject-main-ui .wc-subject-scroll-C > ul li:before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 4px;
        background: #eeeeee; }
      .wc-subject-main-ui .wc-subject-scroll-C > ul li:last-of-type:before {
        display: none; }
.wc-subject-main-ui .wc-subject-field .wc-subject-field-img img, .wc-subject-main-ui .wc-subject-field .wc-subject-field-img a {
  border-radius: 5px; }
.wc-subject-main-ui .wc-subject-field h4 {
  font-size: .5rem;
  height: 1.2rem;
  font-weight: normal;
  line-height: 1.2rem;
  color: #000; }
.wc-subject-main-ui .wc-subject-field .wc-subject-field-prop {
  -webkit-transform-origin: left;
  transform-origin: left;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  color: #888a92; }
  .wc-subject-main-ui .wc-subject-field .wc-subject-field-prop span {
    font-size: 12px; }
    .wc-subject-main-ui .wc-subject-field .wc-subject-field-prop span:nth-of-type(2), .wc-subject-main-ui .wc-subject-field .wc-subject-field-prop span:nth-of-type(4) {
      margin: 0 10px;
      display: inline-block;
      -webkit-transform: scale(0.5, 0.8) translate3d(0, -1px, 0);
      transform: scale(0.5, 0.8) translate3d(0, -1px, 0); }
.wc-subject-main-ui .wc-subject-field .wc-subject-field-title {
  font-size: .6rem;
  text-align: center;
  margin: .5rem 0; }
  .wc-subject-main-ui .wc-subject-field .wc-subject-field-title a {
    color: #21262c; }
.wc-subject-main-ui .wc-subject-field .wc-subject-field-describe {
  text-indent: 2em;
  color: #888a92;
  line-height: 24px;
  font-size: 12px; }
.wc-subject-main-ui .wc-subject-news .wc-subject-news-img img, .wc-subject-main-ui .wc-subject-news .wc-subject-news-img a {
  border-radius: 5px; }
.wc-subject-main-ui .wc-subject-news .wc-subject-news-title {
  font-size: .6rem;
  text-align: center;
  margin: 22px 0 20px; }
  .wc-subject-main-ui .wc-subject-news .wc-subject-news-title a {
    color: #21262c; }
.wc-subject-main-ui .wc-subject-news .wc-subject-news-describe {
  text-indent: 2em;
  color: #888a92;
  line-height: 24px;
  font-size: 12px; }
.wc-subject-main-ui .wc-subject-news .wc-subject-see-all {
  text-align: center; }
  .wc-subject-main-ui .wc-subject-news .wc-subject-see-all a {
    color: #1d94d4; }
.wc-subject-main-ui .wc-subject-video .wc-subject-video-img img, .wc-subject-main-ui .wc-subject-video .wc-subject-video-img a {
  border-radius: 5px; }
.wc-subject-main-ui .wc-subject-video .wc-subject-vr {
  position: absolute;
  width: 1rem;
  right: 1rem;
  z-index: 1;
  top: 1rem; }
.wc-subject-main-ui .wc-subject-video .wc-subject-video-duration {
  margin-top: .1rem; }
  .wc-subject-main-ui .wc-subject-video .wc-subject-video-duration img {
    vertical-align: middle;
    position: relative;
    top: -1px; }
.wc-subject-main-ui .wc-subject-video .wc-subject-video-info {
  width: 9.4rem;
  height: 1.4rem;
  -webkit-transform-origin: left;
  transform-origin: left;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  margin: 15px auto 0;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: start;
  -webkit-box-align: center; }
  .wc-subject-main-ui .wc-subject-video .wc-subject-video-info aside:first-of-type {
    width: .88rem;
    color: #b2d2e3; }
    .wc-subject-main-ui .wc-subject-video .wc-subject-video-info aside:first-of-type div {
      font-size: 12px;
      height: 1rem;
      width: .82rem; }
      .wc-subject-main-ui .wc-subject-video .wc-subject-video-info aside:first-of-type div section {
        height: 1rem;
        width: .82rem; }
  .wc-subject-main-ui .wc-subject-video .wc-subject-video-info aside:last-of-type {
    width: 7.2rem;
    padding-left: .3rem;
    margin-left: .3rem;
    height: 1.4rem;
    position: relative; }
    .wc-subject-main-ui .wc-subject-video .wc-subject-video-info aside:last-of-type:before {
      content: '';
      width: 1px;
      height: 100%;
      background: #ddd;
      position: absolute;
      left: 0; }
  .wc-subject-main-ui .wc-subject-video .wc-subject-video-info aside h2 {
    width: 100%;
    font-size: .45rem;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; }
  .wc-subject-main-ui .wc-subject-video .wc-subject-video-info aside .wc-subject-video-duration span {
    top: .2rem;
    position: relative; }
    .wc-subject-main-ui .wc-subject-video .wc-subject-video-info aside .wc-subject-video-duration span:first-of-type {
      color: #888a92; }
    .wc-subject-main-ui .wc-subject-video .wc-subject-video-info aside .wc-subject-video-duration span:nth-of-type(2) {
      margin: 0 .35rem;
      height: 10px;
      width: 1px;
      background: #cdd6e7;
      display: inline-block; }
    .wc-subject-main-ui .wc-subject-video .wc-subject-video-info aside .wc-subject-video-duration span:last-of-type {
      color: #cdd6e7; }
    .wc-subject-main-ui .wc-subject-video .wc-subject-video-info aside .wc-subject-video-duration span img {
      width: .5rem;
      margin-right: .3rem; }
.wc-subject-main-ui .wc-subject-video .wc-subject-video-title {
  font-size: .6rem;
  text-align: center;
  margin: .3rem 0; }
  .wc-subject-main-ui .wc-subject-video .wc-subject-video-title a {
    color: #21262c; }
.wc-subject-main-ui .wc-subject-video .wc-subject-video-describe {
  text-indent: 2em;
  margin: 15px auto 0;
  color: #888a92;
  line-height: 24px;
  font-size: 12px; }
.wc-subject-main-ui .wc-subject-video .wc-subject-see-all {
  text-align: center; }
  .wc-subject-main-ui .wc-subject-video .wc-subject-see-all a {
    color: #1d94d4; }

/*# sourceMappingURL=index.css.map */