@charset "UTF-8";
/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
body {
  overflow: hidden;
  font-size: 14px; }

.wc-field-describe {
  width: 9.4rem;
  margin: .5rem auto 0;
  overflow: hidden;
  height: 5rem; }

.wc-field-scroll {
  overflow: hidden; }

.wc-field-title-C {
  width: 9.4rem;
  margin: 0 auto;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal; }
  .wc-field-title-C .wc-field-title-item {
    -webkit-box-flex: 1; }
    .wc-field-title-C .wc-field-title-item h3 {
      font-weight: normal;
      font-size: .52rem; }
    .wc-field-title-C .wc-field-title-item .wc-field-cate {
      font-size: 12px;
      color: #9da9bc; }
      .wc-field-title-C .wc-field-title-item .wc-field-cate img {
        width: .5rem;
        margin: 0 5px; }
    .wc-field-title-C .wc-field-title-item.wc-field-tel a {
      width: 1rem;
      margin-left: 2rem;
      display: block; }

.wc-field-address {
  width: 9.4rem;
  margin: .5rem auto .3rem;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: justify; }
  .wc-field-address img {
    width: .5rem;
    display: block; }
  .wc-field-address span:last-of-type {
    color: #1d94d4;
    margin-left: 10px; }
  .wc-field-address .wc-address {
    width: 6rem;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative; }
  .wc-field-address .wc-entry-map {
    display: inline-block;
    color: #ccc;
    -webkit-transform: scale(1, 1.5);
    transform: scale(1, 1.5);
    position: absolute;
    right: 0;
    top: 1px; }
  .wc-field-address > div {
    color: #9da9bc; }
    .wc-field-address > div:last-of-type {
      width: 8.7rem;
      position: relative; }

.wc-field-detail {
  width: 9.4rem;
  margin: 0 auto;
  text-indent: 2em;
  color: #6d788f;
  line-height: .7rem;
  font-size: 12px; }

.wc-field-more {
  color: #1d94d4;
  text-align: center; }
  .wc-field-more span {
    position: relative; }
    .wc-field-more span:before, .wc-field-more span:after {
      content: '';
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid #e8ebf2;
      position: absolute; }
    .wc-field-more span:after {
      margin-top: 4px; }
    .wc-field-more span:before {
      height: 0;
      left: 101%;
      background: #e8ebf2;
      border-left: 10px solid #e8ebf2;
      border-bottom: none;
      border-right: none;
      border-top-width: 2px;
      top: 70%; }

.wc-field-commit-C {
  width: 9.4rem;
  margin: 0 auto 0;
  height: 1.2rem;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal; }
  .wc-field-commit-C aside {
    -webkit-box-flex: 1; }
    .wc-field-commit-C aside img {
      width: .5rem;
      margin-right: .2rem; }
    .wc-field-commit-C aside:nth-of-type(2) {
      text-align: right; }
    .wc-field-commit-C aside:nth-of-type(1) {
      color: #1d94d4;
      font-weight: bold;
      font-size: .6rem; }

.wc-field-comment-list {
  width: 9.4rem;
  margin: 0 auto 0; }
  .wc-field-comment-list li {
    margin: 10px 0; }
  .wc-field-comment-list span {
    margin-right: .2rem;
    position: relative;
    top: 4px;
    width: .8rem;
    height: 1rem;
    text-align: center;
    line-height: 1rem; }
  .wc-field-comment-list .wc-comment-logo {
    width: .5rem;
    font-size: .6875rem; }
  .wc-field-comment-list .wc-comment-content {
    font-family: 瀹嬩綋;
    color: #999;
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
    text-indent: 2em; }

.wc-field-parameter-table {
  width: 100%; }
  .wc-field-parameter-table tr {
    text-align: center;
    height: 1rem; }
  .wc-field-parameter-table td, .wc-field-parameter-table th {
    width: 25%;
    text-align: center;
    font-weight: normal;
    font-size: .4rem; }

.wc-field-pic-list, .wc-field-active-list {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal; }
  .wc-field-pic-list li, .wc-field-active-list li {
    margin: 0 5px;
    width: 4rem;
    height: 4rem;
    text-align: center; }
    .wc-field-pic-list li div, .wc-field-active-list li div {
      width: 4rem;
      height: 3.5rem;
      overflow: hidden; }

.wc-field-active div.wc-field-active-img {
  position: relative; }
  .wc-field-active div.wc-field-active-img:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    left: 44%;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #fff; }

.wc-field-active-list {
  margin-top: 5px; }
  .wc-field-active-list h3 {
    font-weight: normal;
    font-size: .4rem;
    margin: 5px 0; }
  .wc-field-active-list div:last-of-type {
    text-align: left;
    margin-left: 4px;
    font-size: 12px;
    color: #999; }

.wc-feild-same-list {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal; }
  .wc-feild-same-list li {
    margin: 0 5px;
    width: 8rem; }
    .wc-feild-same-list li h3 {
      font-weight: normal;
      margin: 6px 0; }
    .wc-feild-same-list li img {
      border-radius: 4px; }
    .wc-feild-same-list li span {
      color: #999;
      font-size: 12px;
      margin: 0 5px; }
      .wc-feild-same-list li span:first-of-type {
        margin-left: 0; }

/*# sourceMappingURL=index.css.map */